/* shared style  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
.font-poppins-thin {
  font-family: "Poppins", sans-serif;
  
}
.color-black{
    color: #3A3A3A;
}
.btn{
    font-size: 1rem;
    font-weight: 700;
    background-color: #E02C6D;
    border: none;
    border-radius: 41px;
    padding: 10px 56px 13px 24px;
    color: white;
}

/* header style  */
/* nav style  */
nav{
    display: flex;
    justify-content: space-between;
    /* border: 2px solid red; */
    max-width: 1200px;
    margin: 0 auto;
}
.navber-link{
    display: flex;
    align-items: center;
    gap: 34px;
    font-size: 1rem;
    font-weight: 600;
    
}
.navber-link li{
    list-style: none;
}
.navber-link li a{
    text-decoration: none;
    color: #3A3A3A;
    
}
.navbar-title{
    font-size: 1.5rem;
    font-weight: 700;
}
/* bannar style  */
.bannar{
    display: flex;
    max-width: 1188px;
    justify-items: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 50px;

}
.bannar-container{
    max-width: 582px;
    margin-right: 133px;
    
    
}
.bannar-container h1{
    font-size: 3.25rem;
    font-weight: 700;
    margin-bottom: 16px;
}
.bannar-container p{
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 16.1px;
}
.bannar-image{
    /* background-color: #F1E4FF; */
    background-image: url(../images/Circle\ design.svg);
    background-size: cover;
    /* background-position: bottom right; */
    margin-bottom: 69px;
    
    
}
.bannar-image img{
    width: 100%;
    /* padding : 29px 33px 31px 5px; */
}
/* logo style  */
.logo{
    max-width: 1110px;
    /* border: 3px solid black; */
    display: flex;
    justify-content:space-evenly;
    margin: 0 auto;
    margin-top: 69px;
    border-top:1px solid #C0CCDA;
    border-bottom: 1px solid #C0CCDA;
    padding-top: 36px;
    padding-bottom: 35px;
}
/* ....collection style  */
.collection{
    max-width: 1047px;
    margin: 0 auto;
    margin-top: 100px;

}
.collection h2{
    font-size: 1.25rem;
    font-weight: 600;
    text-align: center;
    margin-bottom: 30px;
}
.box-items{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-items: center;
    gap: 30px;
}
.box{
    border: 2px solid #C0CCDA;
    max-width: 329px;
    padding: 17px 15px 14px 14px;
    border-radius: 5px;
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
}
.box h3{
    color: #18191F;
    font-size: 1.25rem;
    font-weight: 600;
}
.box h4{
    font-size: 1.15rem;
    font-weight: 500;
}
.box p{
    color: #787885;
    line-height: 143%;
    letter-spacing: 1.8%;
}
.box-image{
    text-align: center;

}
.box-btn{
    display: flex;
    justify-content: end;
    margin-top: 50px;
}
.box-btn button{
    color: #E02C6D;
    background-color: white;
    border: none;
    font-size: 1rem;
    font-weight: 700;
}
/* features style  */
.feature{
    display: flex;
    max-width: 1110px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    gap: 96px;
    margin-bottom: 100px;
}
.feature-title h3{
    font-size: 2.25rem;
    margin-bottom: 16px;
}
.feature-title p{
    font-size: 1rem;
    line-height: 28px;
    max-width: 501px;
    color: #6C6C6C;
    margin-bottom: 16px;
}
.feature-title button{
    background-color: #E02C6D;
    border: none;
    color: white;
    padding: 10px 56px 10px 24px;
    
}
button .icons{
    margin-left: 8px;
}
.feature-image img{
    max-width: 100%;
}
.last{
    background-color: #0A0826;
    text-align: center;
    max-width: 1440px;
    height: 238px;
    margin: 0 auto;
    
}
.last .footer-section{
    color: white;
    margin-top: 50px;
    /* margin: 50px 589px; */
    padding-top: 50px;
    
}
.footer-section h3{
    margin-bottom: 3px;
    font-size: 1.25rem;  
}
.footer-section p{
    font-size: 14px;
    color: #D9DBE1;
}
.footer-icon a{
    color: white;
    margin-right: 16px;
    border: 10px solid #3A3A3A;
    background-color: #3A3A3A;

    border-radius: 100%;
}
.footer-icon{
    margin-top: 17px;
}
@media screen and (max-width:576px){
    nav{
        flex-direction: column;
    }
    .box-items{
        grid-template-columns: repeat(1,1fr);
    }
    .bannar,.feature{
        flex-direction: column-reverse;
        text-align: center;
    }

    .navber-link{
        justify-items: center; 
    }
    .navbar-title{
        margin: 0 auto;
    }
    .bannar-container h1{
        font-size: 28px;
        text-align: center;
    }
    /* .bannar-image img{
       padding: none;
    } */
    .bannar-container{
        text-align: center;
    }
    .bannar-container p{
        text-align: center;
        font-size: 14px;
        font-weight: 500;
    }
    /* logo style  */
    .logo{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        column-gap: 31px;
        
    }
    .feature-title p{
        line-height: none;
    }
    

}
